
body {
	font-family: calibri, sans-serif;
	background: black;
	color: white;
	width: 600px;
	margin-left: auto;
	margin-right: auto;
}

h2 {
	margin: 0px;
	margin-bottom: 10px;
}

img.logo {
	float: left;
	width: 64px;
}

hr {
	clear: both;
	color: #eb1b1b;
	background: #eb1b1b;
	height: 3px;
}

table.entrydetail, table.newplace, table.login, table.entries, table.menu {
	border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
}

/*table.entries {
	  width: 50%;
}*/

table.entrydetail td, table.newplace td, table.login td, table.entries td, table.menu td, table.menu th {
	border: 1px solid #c0c0c0;
	padding: 0.2em;
}

input {
	width: 100%;
}

table.menu td {
	background: #eb1b1b;
	color: white;
}

a:link, a:hover, a:visited {
	text-decoration: none;
	font-weight: bold;
}

a:link, a:visited {
		color: white;
}

a:hover {
	color: #e0e0e0;
}
